<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd"

>
    <!--&lt;!&ndash;2.去配置handlerMapping  机遇实现接口&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>-->

    <!--&lt;!&ndash;3.配置HandlerAdapter&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>-->

    <!--&lt;!&ndash;4 配置Handler&ndash;&gt;-->
    <!--<bean name="/hello"  class="com.wsy.mvc.controller.HelloController"/>-->
    <!--<bean name="/hello1"  class="com.wsy.mvc.controller.HelloAnnotactionController"/>-->

    <!--&lt;!&ndash;5.配置 viewResolver&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/view/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
    <!--</bean>-->


    <!--
        注解驱动
     -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
            </bean>
<!--
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"/>
-->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
     -->

    <context:component-scan base-package="com.wsy.mvc.controller"/>

    <!--jsp版本的-->
   <!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>-->


    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>



    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>



    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML5"/>
        <property name="cacheable" value="false"/>    <!-- 缓存-->
    </bean>



    <!--
          处理默认静态资源  缺点是tomcat
    -->
    <!--<mvc:default-servlet-handler/>-->

    <mvc:resources mapping="/js/**" location="/WEB-INF/static/js/"/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/static/css/"/>
    <mvc:resources mapping="/images/**" location="/WEB-INF/static/images/"/>



    <mvc:view-controller path="/login" view-name="login"/>
    <mvc:view-controller path="/success" view-name="success"/>
    <mvc:view-controller path="/hello" view-name="hello"/>
    <mvc:view-controller path="/404" view-name="404"/>
    <mvc:view-controller path="/500" view-name="500"/>

    <mvc:interceptors>

        <!--<bean class="com.wsy.mvc.controller.interceptor.HelloInterceptor"/>-->
            <mvc:interceptor>
                <mvc:mapping path="/param/**"/>
                <mvc:mapping path="/path/**"/>
                <mvc:exclude-mapping path="/path/test2"/>
                <bean class="com.wsy.mvc.interceptor.HelloInterceptor"/>
            </mvc:interceptor>
    </mvc:interceptors>






</beans>