<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 移动设备优先-->
    <meta http-equiv="X-UA-COMPATIBLE" CONTENT="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>505</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <script src="../static/js/jquery.js" type="text/javascript" charset="utf-8" th:src="@{/js/jquery.js}"></script>
    <script src="../static/js/bootstrap.js" type="text/javascript" charset="utf-8"
            th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/bootstrap-paginator.js" th:src="@{/js/bootstrap-paginator.js}"></script>
    <script src="../static/js/bootstrap-mypaginator.js" th:src="@{/js/bootstrap-mypaginator.js}"></script>
    <script src="../static/js/template-web.js" charset="utf-8" th:src="@{/js/template-web.js}"></script>
</head>
<body>
500......
</body>
</html>